.mPlayer {
	position: relative;
	background-color: #1C232B;
}

#mIcon {
	position: relative;
	top: 0px;
	left: 0px;
}

#playerBu #playB {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #backCu {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #skipCu {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #skipTra {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #backTra {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #volUp {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu #volDown {
	margin-left: 10px;
	margin-right: 10px;
}

#playerBu {
	position: absolute;
	top: 0px;
	left: 150px;
	margin-top: 10px;
	margin-left: 10px;
}

.progressbar-Con * {
	position: relative;;
}

.progressbar-Con #curr_tim{
	color: white;
	position: absolute;
	top: 70px;
	left: 110px
}

.progressbar-Con #dur_tim{
	color: white;
	position: absolute;
	top: 70px;
	left: 590px
}


.progressbar-Con #progressBar {
	position: absolute;
	bottom: 0;
	left:180px;
	background-color: blue;
	-webkit-appearance: none;
   appetance: none;
}
